body {
    font-size: 62.5%;
    background: radial-gradient(#E2E2E2, #EBEBEB);
}
h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 3.8rem;
}
p {
    font-family: 'PT Mono', monospace;
    font-size: 2.6;
    margin-left: 1.2rem;
}
header {
    margin-left: 5rem;
    padding-top: 2rem;
}
a {
    color:inherit;
    text-decoration: none;
    margin-left: 1.5rem;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: inherit
}
.background-image {
    overflow: visible;
    position: relative;
}
.bg-image {
    opacity: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 109%;
    z-index: -1;
}

.projects, .skills, .about, .contact, .experience {
    margin-left: 4.2rem;
}
.project-Title {
    width: fit-content;
}
.project-Title:hover {
    color: white;
}
.btn:focus {
    box-shadow: none;
}
#skillsDropDown {
    width: 15%;
    margin-left: 1.2rem;
}
#aboutDropDown {
    width: 40%;
}
.contact {
    margin-bottom: 3rem;
}
.alopex-Wrapper {
    width: fit-content ;
}

.expeience-Image{
    height: 2rem;
    width: 2rem;
}
.nucamp-Wrapper {
    width: fit-content;
    margin-top: .5rem;
}
.experience span {
    display:none;
}
.experience a:hover span {
    display: inline-block;
}
#nucamp {
    align-self: center;
}
#contactDropDown {
    width: fit-content;
}
@media (min-width:1920px) {
    body {
        margin: 0px;
    }
    .background-image{
        overflow: visible;
    }
    .bg-image{
        height: auto;
 }   
}
@media (max-width: 765px) {
    header {
        margin-left: 5px;
    }
    h1 {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 400;
        font-size: 2.5rem;
    }
    p {
        font-family: 'PT Mono', monospace;
        font-size: 2.6;
        margin-left: 1.2rem;
    }
    .projects, .skills, .about, .contact, .experience {
        margin-left: .2rem;
    }
    .bg-image {
        width: auto;
        height: 200%;
        left: -68rem;
    }
    #aboutDropDown {
        width: 100%;
    }
}
@media (min-width: 1024px) and (max-width: 1439px) {
    .bg-image {
    }
}
    
